<ion-modal-view >
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>		    
		    <center><img src="../img/GS-1.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-2.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-3.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-4.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-5.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-HOME1.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-HOME2.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-HOME3.png" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="../img/GS-end.png" class="gettingstarted"></center>
		    <button  class="button button-energized paddedbutton" ui-sref="tab.home">Go to Home</button>
		  </ion-slide>


		</ion-slide-box>
	</ion-view>	
  </ion-content>
</ion-modal-view>