<ion-modal-view >
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>
		    
		    <center><img src="img/elderly.png" class="elderly-image"></center>
		    <div class="box pink"><h1>Ah Mah 1</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/elderly.png" class="elderly-image"></center>
		    <div class="box pink"><h1>Ah Mah 2</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/elderly.png" class="elderly-image"></center>
		    <div class="box pink"><h1>Ah Mah 3</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/elderly.png" class="elderly-image"></center>
		    <div class="box pink"><h1>Ah Mah 4</h1></div>
		  </ion-slide>
		</ion-slide-box>
	</ion-view>	
  </ion-content>
</ion-modal-view>