<ion-modal-view can-swipe-back="false">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide>		    
		    <center><img src="img/gs1.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs2.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs3.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs4.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs5.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs6.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs7.PNG" class="gettingstarted"></center>
		  </ion-slide>
		  <ion-slide>
		    <center><img src="img/gs8.PNG" class="gettingstarted"></center>

		    <button class="button button-energized paddedbutton gs" ng-click="goHome()">Get Started!</button>
		  </ion-slide>
		</ion-slide-box>
	</ion-view>	
  </ion-content>
</ion-modal-view>