<ion-view view-title="View Account">
  <ion-content padding="false" ng-show=!loadingshow>

<div class="list card activityconfirmation" ng-click="goRank()">
  <h2 class="me">
    <div class="row">
      <div class="col col-20">
        <div class="row">
          <button class="button me">
            <i class="ion-ribbon-a me" ng-if="rank=='Bronze'" style="color: #B77B53; font-size: 150%"></i> 
            <i class="ion-ribbon-a me"ng-if="rank=='Silver'" style="color: #817872; font-size: 250%"></i> 
            <i class="ion-ribbon-a me" ng-if="rank=='Gold'" style="color: #EBA345; font-size: 150%"></i> 
            <i class="ion-ribbon-a me" ng-if="rank=='Platinum'" style="color: #7A7982; font-size: 300%"></i>
          </button>
        </div>
      </div>
      <div class="col col-80 me">
        <div class="row">
         {{username}} 
        </div>
        <div class="row">
          <h5 class="me" ng-click="goRank()">
          {{rank}} Volunteer
          </h5>
        </div>
      </div>
    </div>
  </h2>
</div>

<div class="list card myactivitymain">
  <!--<div class="item">
      Name: {{username}}
  </div>

  <div class="item">
    <font weight="bold">NRIC:</font> {{nric}}
  </div>-->

    <div class="item">
      Email: {{email}}
    </div>

    <div class="item">
      Contact Number: {{contactnumber}}
    </div>

    <!--<div class="item">
      Date Of Birth: {{dob}}
    </div>

    <div class="item">
      Gender: {{gender}}
    </div>

    <div class="item">
      Occuption: {{occuption}}
    </div>

    <div class="item">
      Preference 1: {{preference1}}
    </div>

    <div class="item">
      Preference 2: {{preference2}}
    </div>-->

    <div class="item item-button-right">
      Password: **** ****
      <button class="button button-calm" ui-sref="updateAccount"><font size=3px style="font-weight:bold;">Change</font></button>
    </div>
  </div>

      <button class="button paddedbutton button-energized" ng-click="manageAccount()" ui-sref="manageAccount">Manage Account</button>
    </label>
  </ion-content>
</ion-view>
