<ion-view view-title="View Account">
  <ion-content padding="false" ng-show=!loadingshow>

  <h2 class="me">{{username}}</h2>
<div class="list card myactivitymain">
  <!--<div class="item">
      Name: {{username}}
  </div>

  <div class="item">
    <font weight="bold">NRIC:</font> {{nric}}
  </div>-->

    <div class="item">
      Email: {{email}}
    </div>

    <div class="item">
      Contact Number: {{contactnumber}}
    </div>

    <!--<div class="item">
      Date Of Birth: {{dob}}
    </div>

    <div class="item">
      Gender: {{gender}}
    </div>

    <div class="item">
      Occuption: {{occuption}}
    </div>

    <div class="item">
      Preference 1: {{preference1}}
    </div>

    <div class="item">
      Preference 2: {{preference2}}
    </div>-->

    <div class="item item-button-right">
      Password: **** ****
      <button class="button button-calm" ui-sref="updateAccount"><font size=3px style="font-weight:bold;">Change</font></button>
    </div>
  </div>

      <button class="button paddedbutton button-energized" ng-click="manageAccount()" ui-sref="manageAccount">Manage Account</button>
    </label>
  </ion-content>
</ion-view>
