<ion-view view-title="LeaderBoard">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons>
      <button class="button ion-chevron-left button-clear button-light" ui-sref="tab.home"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-show=!loadingshow>
    <div class="list card leaderboard">
      <div class="row">
        <div class="col col-33">
          <p class="leaderboard">Position</p>
          <h5 class="leaderboard">#{{pos}}</h5>
        </div>
        <div class="col col-33">
          <img src="img/crown.png" class="crown"/>
          <h2 class="leaderboard">
            {{rank}}
          </h2>
        </div>
        <div class="col col-33">
          <p class="leaderboard">Points</p>
          <h5 class="leaderboard">{{totalMinutes}}</h5>
        </div>
      </div>
    </div>
      <ion-list>
        <h4 class="leaderboard"><i class="icon ion-trophy"></i>Top 10 CareGuide Volunteers</h4>
        <div class="list card leaderboardtop">
          <ion-item ng-repeat="item in volunteersArray" class="leaderboardtop" >
          <div class="row">
            <div class="col col-80">              
                <h8 class="leaderboard position">{{item.pos}}. </h8> 
              {{item.name}}
            </div>
            <div class="col col-20 leaderboard">
             <div class ="hour">{{item.mins}} hours</div>
           </div>
          </ion-item>
          </div>
      </ion-list>
  </ion-content>
</ion-view>
