<ion-view view-title="About Us">
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons>
      <button class="button ion-chevron-left button-clear button-light" ui-sref="tab.home"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding">
  <div class="list card aboutus">
  	<h6 class="aboutus">CENTRE FOR SENIORS</h6>
  	<h6 class="aboutus body">Center for seniors is a voluntary welfare organisation commited to promoting the total well-being of older persons in Singapore. They currently have 26 branches in Singapore with daycare as well as sheltered homes.</h6>
  	<h6 class="aboutus2">OUR PROJECT</h6>
  	<h6 class="aboutus body">This project aims to ease the strain on the staff at daycare and sheltered homes by recruiting volunteers to bring the elderly to their medical appointments.</h6>
  </div>
   <button class="button button-full button-positive joinus" ui-sref="introduction">Getting Started Tutorial</button>
  </ion-content>
