<!--Header-->
<ion-view view-title="About CareGuide">
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons>
      <!--Back button-->
      <button class="button ion-chevron-left button-clear button-light" ui-sref="tab.home"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!--About us Descriptions-->
  <ion-content class="padding">
  <div class="list card aboutus">
  <h6 class="aboutus2">WHAT IS CAREGUIDE</h6>
  <img src="img/aboutus.png" class="aboutus"/>
  	<h6 class="aboutus body">CareGuide is a social crowdsourcing mobile application that makes volunteering as easy as scan, apply and volunteer! CareGuide volunteers will be able to sign up for transportation voluntary activities posted by Centre For Seniors using the mobile application. Volunteers will be accompanying the elderly from Centre For Seniors to and through their medical appointment.</h6>
  </div>
  <div class="list card aboutus">
    <h6 class="aboutus">CENTRE FOR SENIORS</h6>
    <h6 class="aboutus body">Centre For Seniors is a voluntary welfare organisation that is committed to promote the total well-being of older persons in Singapore. They currently have 26 daycare centre as well as 20 sheltered homes in Singapore.</h6>
  </div>
    <!--Getting started tutorial button-->
   <button class="button button-full button-positive joinus" ui-sref="introduction">Getting Started Tutorial</button>
  </ion-content>
