<ion-view>

<!--body-->
  <ion-content>
  <!-- Recommendation -->
  <div class="list card myactivitymain">
    <div class="item item-divider home">
      RECOMMENDED
      <a class="home" href="#">See all</a>
    </div>
    <div class="item item-icon-left item-text-wrap homemain" href="#">
      <i class="icon"><img src="img/car.png" class="homeicon-image"></i>
      <div class="row">
        <div class="col routecol"><h2 class="home">4 Jan 2016, 1pm</h2>
          <table>
            <tr>
              <td><p class="myactivity">From</p></td>
              <td><p class="myactivity"><b>Henderson</b></p></td>
            </tr>
            <tr>
              <td><p class="myactivity">To</p></td>
              <td><p class="myactivity"><b>Singapore General Hospital</b></p></td>
            </tr>
          </table>  
        </div>
      </div>
    </div>
    <div class="item item-icon-left item-text-wrap homemain" href="#">
      <i class="icon"><img src="img/car.png" class="homeicon-image"></i>
      <div class="row">
        <div class="col routecol"><h2 class="home">4 Jan 2016, 3pm</h2>
          <table>
            <tr>
              <td><p class="myactivity">From</p></td>
              <td><p class="myactivity"><b>Henderson</b></p></td>
            </tr>
            <tr>
              <td><p class="myactivity">To</p></td>
              <td><p class="myactivity"><b>Khoo Teck Phuat Hospital</b></p></td>
            </tr>
          </table>  
        </div>
      </div>
    </div>    
  </div>

  <!-- Scan button -->
  <div style="text-align: center;">
    <button class="button button-float animated shake" ui-sref="scan">
      <h1 class="ion-map" style="color: white;"></h1>
      <h3 style="color: white">Press to</h3>
      <h1 style="color: white">Scan</h1>
    </button>
  </div>
  </ion-content>
</ion-view>
