<ion-view>

<!--body-->
  <ion-content>
  <!-- Recommendation -->
  <div class="list list-inset home">
    <div class="item item-divider home">
    RECOMMENDED
    <a class="home">See all</a>
    </div>
    <div class="item item-text-wrap home" href="#">
      <p>15/1/2016, 1pm</p>
      <h2 class="home"><b>Henderson Home <img src="img/car.png" class="homeicon-image">  Singapore General Hospital</b></h2>
    </div>
    <div class="item item-text-wrap home" href="#">
      <p>15/1/2016, 3pm</p>
      <h2 class="home"><b>Henderson Home <img src="img/car.png" class="homeicon-image">  Khoo Teck Phuat Hospital</b></h2>
    </div>
  </div>

  <!-- Scan button -->
  <div style="text-align: center;">
    <button class="button button-float animated shake" ui-sref="scan">
      <h1 class="ion-map" style="color: white;"></h1>
      <h3 style="color: white">Press to</h3>
      <h1 style="color: white">Scan</h1>
    </button>
  </div>
  </ion-content>
</ion-view>
