<ion-view>
  <!--body-->
  <ion-content ng-show=!loadingshow>
    <!--Recommendation-->
  <div class="list card myactivitymain recommendation" ng-show=!loadingshow ng-if="showUrgent == true">

    <div class="item item-text-wrap homemain" ng-repeat="activity in transportActivity" ng-click="proceed(activity.id, activity.name)">
        <div class="row home">
          <div class="col col-80">
            <h6 class = "home urgent"><i class="ion-android-alert urgent"></i>URGENT ACTIVITIES</h6>
            <h2 class="homemain urgent">{{ activity.dateTime | date : "d MMM yyyy, h:mm a"}}</h2>
          </div>
          <div class="col col-20">
            <a class="home" ui-sref="recommended">See All</a>
          </div>
        </div>
  </div>
</div>

    <!--Today Activity (Approved)-->
  <div class="list card myactivitymain updatestatus" ng-show=!loadingshow ng-if="showUrgent == false && inProgress == false">

    <div class="item item-divider updatestatus">
      <h6 class = "home urgent">UPCOMING ACTIVITY</h6>
    </div>
    <div class="item item-text-wrap updatestatus">
      <h2 class="homemain">{{ todayActivityDate | date : "d MMM yyyy"}}, {{ todayActivityDate | date : "h:mm a"}}</h2>
    
      <h2 class="homemain">{{todayStatus}}</h2>
        <button class="button button-updatestatus" ng-click="updateStatus(todayId, todayStatus)"><p class="home">UPDATE STATUS</p></button>
    </div>
    </div>

  <!--In Progress (Approved)-->
  <div class="list card myactivitymain updatestatus" ng-show=!loadingshow ng-if="showUrgent == false && inProgress == true">

  <div class="item item-divider updatestatus">
      <h6 class = "home urgent">CURRENT ACTIVITY</h6>
    </div>
    <div class="item item-text-wrap updatestatus">
      <h2 class="homemain">{{ InProgressActivityDate | date : "d MMM yyyy, h:mm a"}}</h2>
      <h2 class="homemain">{{InProgressStatus}}</h2>
        <button class="button button-updatestatus" ng-click="updateStatus(inProgressId, InProgressStatus)"><p class="home">UPDATE STATUS</p></button>
    </div>
    </div>

  <center><img src="img/elderly.png" class="elderly-image"></center>
  <h6 class="home-page"> Accompany an elderly today!</h6>

  <!-- Scan button -->
  <div style="text-align: center;">
    <button class="button button-float animated shake" ng-click="scan()">
      <h4 class="home">FIND ACTIVITIES NEAR ME</h4>
    </button>
  </div>
  <!--<div style="text-align: center;">
    <button class="button button-float animated shake" ui-sref="scan">
      <h1 class="ion-map" style="color: white;"></h1>
      <h3 style="color: white">Press to</h3>
      <h1 style="color: white">Scan</h1>
    </button>
  </div>-->
  </ion-content>
  
    <div class="list card myactivitymain stat" ng-if="totalVolunteers != null && showUrgent == true" ng-show=!loadingshow>
      <div class="item item-text-wrap stat">
        <i class="icon ion-person-stalker dark stats"></i><b class="home stats">{{totalVolunteers}}</b> volunteers have contributed 
        <br>
        <i class="icon ion-clock dark stats"></i>
        <b class="home stats">{{totalTaskHours}}</b> hours in total!
      </div>
      <div class="item stat2">
        <button class="button button-full joinus" ui-sref="login">Join Us Today!</button>
      </div>
    </div>

  <div class="list card myactivitymain stat2" ng-if="totalVolunteers == null && showUrgent == true" ng-show=!loadingshow>
    <div class="item item-text-wrap statuser">
      <b>Your Volunteering Hours </b>

       <p><i class="ion-ribbon-a me" ng-if="rank=='Bronze'" style="color: #C38359; font-size: 120%"></i>
            <i class="ion-ribbon-a me"ng-if="rank=='Silver'" style="color: #DCDEE0; font-size: 120%"></i>
            <i class="ion-ribbon-a me" ng-if="rank=='Gold'" style="color: #EBA345; font-size: 120%"></i>
            <i class="ion-ribbon-a me" ng-if="rank=='Platinum'" style="color: #A6AAA9; font-size: 120%"></i>{{rank}} Volunteer</p>
      <canvas id="bar" height="30%" width="100%" class="chart chart-bar" data="data" labels="labels" series="series" options="chartOptions" colours="colours"></canvas>
    </div>
  </div>


</ion-view>
