<ion-view view-title="Filter">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ui-sref="search"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="list card">
      <ion-checkbox ng-model="isChecked1">Test 1</ion-checkbox>
      <ion-checkbox ng-model="isChecked2">Test 2</ion-checkbox>
      <ion-checkbox ng-model="isChecked3">Test 3</ion-checkbox>
    </div>

  </ion-content>
</ion-view>
