<div class="modal">
  <div class="bar bar-header registration">
    <a class="icon ion-close-round light" ng-click="modal.hide()"></a>
    <h1 class="title registration">Nearby Location</h1>
  </div>

  <ion-content has-header="true">
    <br><br><br>
    <center>
      <table class="section1" ng-show=!showTag>
          <td><div class="card scan header">
            <h6 class="scan">{{distanceDisplay.split(":")[0]}} :
              <br>
              <div class="item item-icon-left scan">
                <i class="icon ion-map scan"></i>
                <center><b class="scan">{{distanceDisplay.split(":")[1]}}</b></center></h6>
          </div></td>
          <td><div class="card scan header2">
            <h6 class="scan">{{timeDisplay.split(":")[0]}} :
              <br>
              <div class="item item-icon-left scan">
                <i class="icon ion-android-car scan"></i>
                <center><b class="scan">{{timeDisplay.split(":")[1]}}</b></center></h6>
          </div></td>
          </td>
      </table></center>

    <div class="list card listtransport">
      <label class="item item-input listtransport">
        <b><input type="text" placeholder="Search" ng-model="modal.searchText"></b>
      </label>
    </div>

    <div class="list card myactivitymain" ng-repeat="activity in transportActivity | filter:modal.searchText" ng-click="proceed(activity.id, activity.name)">
      <table>
        <tr>
          <td class="search">
            {{activity.no}}
          </td>
          <td>
            <div class="item item-text-wrap">
              <h2 class="home"> {{ activity.date}}, {{ activity.time}}</h2>
              <table>
                <tr>
                  <td><p class="myactivity">From</p></td>
                  <td><p class="myactivity"><b>{{activity.from}}</b></p></td>
                </tr>
                <tr>
                  <td><p class="myactivity">To</p></td>
                  <td><p class="myactivity"><b>{{activity.to}}</b></p></td>
                </tr>
              </table><p class="myactivity"/><!--
              <p class="myactivity">Pickup Location: {{activity.distance.split('|')[0]}}</p>
              <p class="myactivity">{{activity.distance.split('|')[1]}}</p>-->
            </div>
          </td>
        </tr>
      </table>
    </div>
  </ion-content>
</div>
