
<ion-view view-title="Nearby Location">
<!--header bar-->

  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ui-sref="tab.home"></button>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
    <button class="button button-transparent" ng-click="goList()">View More</button>
  </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll='false'>
    <!--Old filter dropdown
    <div class="row">
      <div class="col">
        <div class="transbox2">
          <div class="input-label">
            <p>Filter By Distance:
          </div>
          <select class="dropdown" ng-model="fields.filter" ng-change="valueChanged()">
          <option value="5">100M Radius</option>
          <option value="10">1KM Radius</option>
          <option value="20">3KM Radius</option>
          <option value="30">5KM Radius</option>
        </select>
        </div>
      </div>
    </div>-->
    <div class="parent">
      <div class="section1">
        <ui-gmap-google-map center=center options=map.options zoom=zoom events="map.markersEvents" data-tap-disabled="true">
          <ui-gmap-marker icon= '{url: "img/blue-dot.png" }' coords=currentLocationMarker.coords idkey=currentLocationMarker.id>
            <ui-gmap-window show="true">
              <div>{{currentLocationMarker.window.title}}</div>
            </ui-gmap-window>
          </ui-gmap-marker>

          <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius=radius
                          visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>

          <ui-gmap-marker ng-repeat="loc in markers track by $index" coords=loc.coords idkey=loc.id click="displayItems(loc.window.title, $index)">
            <ui-gmap-window show="markersStatus[$index]">
              <div>{{loc.window.title}}</div>
            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    <div class="list card myactivitymain">
      <label class="item item-input item-select">
        <div class="input-label">
          <!--TODO: change numbers. fields.filter does not correspond to user's filter option-->
          <p>Showing activities {{fields.filter}}KM from my location</p>
        </div>
        <select ng-model="fields.filter" ng-change="valueChanged()" class="search">
              <option value="5">100M Radius</option>
              <option value="10">1KM Radius</option>
              <option value="20">3KM Radius</option>
              <option value="30">5KM Radius</option>
        </select>
      </label>
    </div>
      
        <div class="card animated shake"  ng-show=showTag>
          <div class="item item-text-wrap">
            <h3>Tap on the red markers to view activities</h3>
          </div>
        </div>
      
      <div class="section2">
          <div class="list card myactivitymain" ng-repeat="id in transportIDDisplay track by $index" ng-click="proceed(transportIDDisplay[$index], transportNameDisplay[$index])">
            <table>
              <tr>
                <td class="search">
                {{$index+1}}
                </td>
              <td>
              <div class="item item-text-wrap">
                <h2 class="home"> {{ transportDateTimeStartDisplay[$index] | date : "d MMM yyyy" }}, {{ transportDateTimeStartDisplay[$index] | date : "h:mm a"}}</h2>
                <table>
                  <tr>
                    <td><p class="myactivity">From</p></td>
                    <td><p class="myactivity"><b>{{transportNameDisplay[$index].split("-")[0]}}</b></p></td>
                  </tr>
                  <tr>
                    <td><p class="myactivity">To</p></td>
                    <td><p class="myactivity"><b>{{transportNameDisplay[$index].split("-")[1]}}</b></p></td>
                  </tr>
                </table>
            <p class="myactivity">Pickup Location: {{transportFromDistanceDisplay[$index]}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
