<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-calm tabs-top tabs-active tabs-icon">-->

<link href="css/tabs.css" rel="stylesheet">

<ion-tabs class = "tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <!-- Appointment Tab -->
  <ion-tab title="Home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Vaccination Information Tab -->
  <ion-tab title="My Activity" ui-sref="tab.activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="Me" ui-sref="tab.me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

</ion-tabs>
