<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-calm tabs-top tabs-active tabs-icon">-->

<link href="css/tabs.css" rel="stylesheet">

<!--header-->
<ion-header-bar class="bar bar-header bar-positive">
  <img src="img/careridewhite.png" side="right" class="iconsize-image"/>
  <div class="button-bar">
    <a class="button button-icon"></a>
    <a class="button button-icon"></a>
    <button class="button ion-trophy button-clear tab" ui-sref="#"></button>
    <button class="button button-icon ion-search" ui-sref="search"></button>
    <button class="button button-icon ion-more" ng-click="openPopover($event)"></button>
    </div>
</ion-header-bar>

<!--tabs-->
<ion-tabs class = "tabs-striped tabs-top">

  <ion-tab title="Home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Activity" ui-sref="tab.activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Me" ui-sref="tab.me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

</ion-tabs>
