<ion-view view-title="Nearby Location">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ui-sref="tab.home"></button>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
    <button class="button button-transparent" ui-sref="scan">Map View</button>
  </ion-nav-buttons>

    <ion-nav-buttons>
      <button class="button button-transparent" ng-click="toggleSearchOption()">Toggle</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="spinner" ng-show=loadingshow>
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <!--search bar-->
  <ion-header-bar class="bar-subheader">
    <input type="search" placeholder="Search by activity name" ng-model="searchText.name" ng-show="show">
    <input type="search" placeholder="Search by start time" ng-model="searchText.time" ng-show="!show">
  </ion-header-bar>

  <ion-content ng-show=!loadingshow>

    <div class="list card">
      <ion-item ng-repeat="activity in transportActivity | filter:searchText" ng-click="proceed(activity.id, activity.name)">

        <div class="item item-divider scan item-text-wrap">
          {{activity.no}}.
          {{activity.name}}<br>
        </div>
        <div class="item item-text-wrap">
          Date: {{activity.date}} <br><br>
          Time: {{activity.time}} <br><br>
        </div>
      </ion-item>
  </div>

  </ion-content>
</ion-view>
