.parent{
	height:100%;
}

.section2{
	height:40%;
	overflow-x: scroll;
}

.section1{
	max-height:60%;
}

ion-item.item{
	padding:5px;
}
.item-divider {
  min-height: 30px;
  background-color: #B3E4DF;
}