.parent{
	height:100%;
}

.section2{
	height:40%;
	overflow-x: scroll;
}

.section1{
	max-height:60%;
}

ion-item.item{
	padding-right:5px;
	padding-top: 0;
	padding-bottom: 0;
}
.item-divider {
  min-height: 30px;
  background-color: #B3E4DF;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top: 250px;
  height: 85px;
  text-align: center;
  z-index: 1;
}
