<ion-view hide-nav-bar="true">

<ion-content padding="true">
  <div class="spinner" ng-show=loadingshow>
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <div class="bar bar-header registration">
  <a ui-sref="landingPage" class="icon ion-close-round light"></a>
  <h2 class="title main" style="color: #FFF; z-index:-1;">Log In</h2>
</div>
<br><br>

<div style="text-align: center;">
 <img src="img/icare.png" class = "fullscreen-image"/>
</div>

<!-- Login form-->
<form ng-submit="login(fields)">

  <div class="list list-inset login">
  <label class="item item-input login">
    <input type="text" placeholder="Email address" ng-model="fields.email">
  </label>
  <label class="item item-input login1">
    <input type="password" placeholder="Password" ng-model="fields.password">
  </label>
</div>



  <button class="button button-block button-energized">Log In</button>
  </div>


  <!--forget password link!! rmb to do-->
<p style="text-align: center;">
  <a href="#" style="color: #53585F;">Forgotten your Password?</a>
</p>


  <!--Register button
  <button ui-sref="registration" class="button button-block button-calm">Create an Account</button>-->

  <!--Main Pagebutton
  <p style="text-align: center;">
    <a ui-sref="tab.home" style="color: #ffffff;">Proceed Without Logging In</a>
  </p>-->
</ion-content>


