<ion-view hide-nav-bar="true">

<ion-content padding="true">
  <div class="bar bar-header registration">
  <a class="icon ion-close-round light" ng-click="landingPage()"></a>
  <h2 class="title main" style="color: #FFF; z-index:-1;">Join Us Today!</h2>

</div>
<br><br>
<center><button class="button button-select main" ui-sref="login">Login</button><button class="button button-light main" ui-sref="registration" ng-click="goRegistration()">Sign Up</button></center>
<div style="text-align: center;">
 <img src="img/icare.png" class = "fullscreen-image"/>
</div>

<!-- Login form-->
<form ng-submit="login(fields)">
  <div class="list list-inset login">
    <label class="item item-input login">
      <input type="text" autocapitalize="off" placeholder="Email address" ng-model="fields.email">
    </label>

    <label class="item item-input item-icon-right">
      <i class="icon ion-eye-disabled login" on-touch="showPassword = !showPassword" ng-show="showPassword"></i>
      <i class="icon ion-eye login" on-touch="showPassword = !showPassword" ng-show="!showPassword"></i>
      <input type="password" placeholder="Password" ng-model="fields.password" ng-hide="showPassword">
      <input class="showPassword" type="text" placeholder="Password" ng-model="fields.password" ng-show="showPassword">
    </label>
  </div>

  <!-- oldpassword field checkbox
  <br><ion-checkbox class="loginShowPassword" ng-model="showPassword">Show password</ion-checkbox>-->

  <button class="button button-block button-energized">Log In</button>
</form>

  <!--forget password link!! rmb to do-->
<p style="text-align: center;">
  <a href="#" style="color: #53585F;">Forgot your Password?</a>
</p>


  <!--Register button
  <button ui-sref="registration" class="button button-block button-calm">Create an Account</button>-->

  <!--Main Pagebutton
  <p style="text-align: center;">
    <a ui-sref="tab.home" style="color: #ffffff;">Proceed Without Logging In</a>
  </p>-->
</ion-content>


