<ion-view view-title="Crowd Sourcing Application">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="registration">Register</button>
  </ion-nav-buttons>

  <ion-content>
  
    <form ng-submit="login(fields)">
      <div class="list">
          
		  
		  <label class="item item-input item-floating-label">
		  <span class="input-label"><i class="icon ion-email light"></i><font color=#ffffff> Email</font></span>
          <input type="text" style="color:#ffffff" placeholder="Email" ng-model="fields.email"></label>
        

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-locked light"></i><font color=#ffffff> Password</font></span>
          <input type="password" style="color:#ffffff" placeholder="Password" ng-model="fields.password">
        </label>
      </div>
		<br>
      <input type="submit" value ="Login" id="button">
    </form>
  </ion-content>
</ion-view>


