<ion-view view-title="Edit Profile" can-swipe-back="false">
  <!--<ion-nav-bar class="bar-stable">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="back()">Back</button>
  </ion-nav-buttons>
  </ion-nav-bar>-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ui-sref="me"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-show=!loadingshow>

    <!-- manage account form-->
    <form ng-submit="update(fields)">
      <!--   <h3 class="me">ACCOUNT DETAILS</h3>
         <div class="list list-inset update">
           <label class="item item-icon-left item-input registration">
             <div class="iconcontainer update">
               <i class="icon ion-card dark update"></i>
             </div>
             <b class="account">NRIC</b>
             <span class="item-note">
               <input class="readonly me" readonly=true type="text" ng-model="fields.nric">
             </span>
           </label>
           <label class="item item-icon-left item-input registration">
             <div class="iconcontainer update">
               <i class="icon ion-email dark update"></i>
             </div>
             <b class="account">Email</b>
             <span class="item-note">
               <input class="readonly me" readonly=true type="text" ng-model="fields.email" >
             </span>
           </label>
         </div>-->
         <h3 class="update">ACCOUNT DETAILS</h3>
         <div class="list list-inset update">
          <label class="item item-input update">
            <i class="icon ion-email larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Email*</b>
            </span>
            <input class="edit" type="text" ng-model="fields.email" >
          </label>

          <label class="item item-input update">
            <i class="icon ion-person larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Name*</b>
            </span>
            <input class="edit" type="text" ng-model="fields.name" >
          </label>
          <label class="item item-input update">
            <i class="icon ion-transgender larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Car Ownership*</b>
            </span>
            <select class="dropdown update" ng-model="fields.carChecked">
              <option value="" selected disabled>Car Ownership</option>
               <option value="true">Yes</option>
               <option value="false">No</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>
        </div>
        <h3 class="update">MORE DETAILS</h3>
        <div class="list list-inset update">
          <label class="item item-input update">
            <i class="icon ion-transgender larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Gender*</b>
            </span>
            <select class="dropdown update" ng-model="fields.gender">
               <option value="" selected disabled>Gender</option>
               <option value="M">Male</option>
               <option value="F">Female</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>

          <label class="item item-input update">
            <i class="icon ion-briefcase larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Date Of Birth*</b>
            </span>
            <input class="dobupdate" type="date" color="#ffffff" ng-model="fields.dob">
          </label>

          <label class="item item-input update">
            <i class="icon ion-briefcase larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Occupation</b>
            </span>
            <input class="edit" type="text" ng-model="fields.occupation" >
          </label>
        </div>

        <h3 class="update">MY PREFERRED VOLUNTARY TYPES</h3>
         <div class="list list-inset update">

          <label class="item item-input update">
            <i class="icon ion-heart larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Preference 1</b>
            </span>
             <select class="dropdown preference" ng-model="fields.preferences_1">
               <option value="" selected>Preference 1</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>
          <label class="item item-input update">
            <i class="icon ion-heart larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Preference 2</b>
            </span>
             <select class="dropdown preference" ng-model="fields.preferences_2">
               <option value="" selected>Preference 2</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>
          </div>








<!--
         <h3 class="me">PERSONAL DETAILS</h3>
         <div class="list list-inset update">
           <label class="item item-icon-left item-input registration2">
            <div class="iconcontainer update">
             <i class="icon ion-email  larger update" style="color:#8D8D8D;"></i>
           </div>
             <b class="account">Email</b>
               <input class="edit" type="text" ng-model="fields.email" >
           </label>

           <label class="item item-icon-left item-input registration2">  <div class="iconcontainer update">
               <i class="icon ion-person larger update" style="color:#8D8D8D;"></i>
             </div>
             <b class="account">Name</b>
             <div class="container">
               <input class="edit" type="text" ng-model="fields.name" >
             </div>
           </label>

           <label class="item item-icon-left item-input registration">
             <div class="iconcontainer">
               <i class="icon ion-transgender dark "></i>
             </div>
             <select class="dropdown register" ng-model="fields.gender">
               <option value="" disabled selected >Gender*</option>
               <option value="M">M</option>
               <option value="F">F</option>
             </select>
           </label>

           <label class="item item-icon-left item-input registration dob">
             <div class="iconcontainer">
               <i class="icon ion-calendar dark "></i></div>
             <span class="label-text" ng-show="fields.dob == null || fields.dob == ''"><font color="#B0B0B0">Date of Birth</font></span>
             <input class="registration" class="date-input dob" type="date" color="#ffffff" ng-model="fields.dob">
           </label>

           <label class="item item-icon-left item-input registration2">
             <div class="iconcontainer update">
               <i class="icon ion-briefcase update"style="color:#8D8D8D;"></i>
             </div>
             <b class="account">Occupation</b>
             <div class="container">
               <input class="update occupation" type="text" colour:"#ffffff" ng-model="fields.occupation">
             </div>
           </label>

           <label class="item item-icon-left item-input registration">
             <div class="iconcontainer car">
               <i class="icon ion-android-car dark "></i>
             </div>
             <ion-checkbox class="checkbox registration"ng-model="fields.carChecked"><font color="black">I have a car</ion-checkbox></font>
           </label>

           <label class="item item-input item-stacked-label update">
             <div class="updateinfo">

               <div class="iconcontainer update">
                 <i class="icon ion-heart larger update" style="color:#8D8D8D;"></i>
               </div><b class="account aop">Voluntary activity you are interested in</b>
             </div>
             <select class="aop" ng-model="fields.preferences_1">
               <option value="" disabled selected>Option 1*</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
           </label>

          <label class="item item-input item-stacked-label update2" >
             <div class="updateinfo">
               <div class="iconcontainer update">
                 <i class="icon ion-heart larger update" style="color:#8D8D8D;"></i>
               </div><b class="account aop">Voluntary activity you are interested in</b>
             </div>
             <select class="aop" ng-model="fields.preferences_2">
               <option value="" disabled selected>Option 2*</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
           </label>
         </div>-->

         <button  class="button paddedbutton button-energized update">Done</button>
       </form>
       </ion-content>
     </ion-view>
