<!--Header!-->
<ion-view view-title="Edit Profile" can-swipe-back="false">
  
  <ion-nav-bar class="bar bar-header bar-positive">
    <!--back button-->
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ui-sref="me"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-show=!loadingshow>

    <!-- manage account form-->
    <form ng-submit="update(fields)">
         <!--Account Details section-->
         <h3 class="update">ACCOUNT DETAILS</h3>
         <div class="list list-inset update">
          
          <!--Email field-->
          <label class="item item-input update">
            <i class="icon ion-email larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Email*</b>
            </span>
            <input class="edit" type="text" ng-model="fields.email" >
          </label>

          <!--Name field-->
          <label class="item item-input update">
            <i class="icon ion-person larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Name*</b>
            </span>
            <input class="edit" type="text" ng-model="fields.name" >
          </label>

          <!--Car Ownership dropdown-->
          <label class="item item-input update">
            <i class="icon ion-android-car dark larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Car Ownership*</b>
            </span>
            <select class="dropdown update" ng-model="fields.carChecked">
              <option value="" selected disabled>Car Ownership</option>
               <option value="true">Yes</option>
               <option value="false">No</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>
        </div>

        <!--More Details section-->
        <h3 class="update">MORE DETAILS</h3>
        <div class="list list-inset update">

          <!--Gender dropdown-->
          <label class="item item-input update">
            <i class="icon ion-transgender larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Gender*</b>
            </span>
            <select class="dropdown update" ng-model="fields.gender">
               <option value="" selected disabled>Gender</option>
               <option value="M">Male</option>
               <option value="F">Female</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>

          <!--Date of Birth-->
          <label class="item item-input update">
            <i class="icon ion-calendar larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Date Of Birth*</b>
            </span>
            <input class="dobupdate" type="date" color="#ffffff" ng-model="fields.dob">
          </label>

          <!--Occupation field-->
          <label class="item item-input update">
            <i class="icon ion-briefcase larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Occupation</b>
            </span>
            <input class="edit" type="text" ng-model="fields.occupation" >
          </label>
        </div>

        <!--Preferred voluntary type section-->
        <h3 class="update">MY PREFERRED VOLUNTARY TYPES</h3>
         <div class="list list-inset update">

          <!--Preference 1-->
          <label class="item item-input update">
            <i class="icon ion-heart larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Preference 1</b>
            </span>
             <select class="dropdown preference" ng-model="fields.preferences_1">
               <option value="" selected>Preference 1</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>

          <!--Preference 2-->
          <label class="item item-input update">
            <i class="icon ion-heart larger" style="color:#8D8D8D;"></i>
            <span class="input-label">
              <b class="account">
              Preference 2</b>
            </span>
             <select class="dropdown preference" ng-model="fields.preferences_2">
               <option value="" selected>Preference 2</option>
               <option value="Befriend senior citizens">Befriend senior citizens</option>
               <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
               <option value="Lead games/exercises">Lead games/exercises</option>
               <option value="Organise fund-raising activities">Organise fund raising activities</option>
               <option value="Organise publicity events">Organise publicity events</option>
               <option value="Organize social activities">Organize social activities</option>
               <option value="Prepare publicity materials">Prepare publicity materials</option>
               <option value="Prepare tea/snacks">Prepare tea/snacks</option>
               <option value="Written translation for brochures">Written translation for brochures</option>
             </select>
             <i class="ion-android-arrow-dropdown"></i>
          </label>
          </div>

          <!--Done button-->
         <button  class="button paddedbutton button-energized update">Done</button>
       </form>
       </ion-content>
     </ion-view>
