<ion-view view-title="Join Us Today!" can-swipe-back="false">

  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-close-round button-clear button-light" ng-click="landingPage()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

<!--header-->
<ion-content padding="true">
  
        
    <form ng-submit="verify(fields)">
      <div class="list list-inset registration">
        <!--Area of Preferences 1-->
      <label class="item item-icon-left item-input registration">
          <div class="iconcontainer">
            <i class="icon ion-heart dark "></i>
          </div>
        <select class="dropdown morequestions" ng-model="fields.preferences_1">
          <option value="" selected>Voluntary Task Preference 1
        </option>
          <option value="Befriend senior citizens">Befriend senior citizens</option>
          <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
          <option value="Lead games/exercises">Lead games/exercises</option>
          <option value="Organise fund-raising activities">Organise fund raising activities</option>
          <option value="Organise publicity events">Organise publicity events</option>
          <option value="Organize social activities">Organize social activities</option>
          <option value="Prepare publicity materials">Prepare publicity materials</option>
          <option value="Prepare tea/snacks">Prepare tea/snacks</option>
          <option value="Written translation for brochures">Written translation for brochures</option>
        </select>
      </label>

      <!--Area of Preferences 2-->
      <label class="item item-icon-left item-input registration">
          <div class="iconcontainer">
            <i class="icon ion-heart dark "></i>
          </div>
        <select class="dropdown morequestions" ng-model="fields.preferences_2">
          <option value="" disabled selected>Voluntary Task Preference 2</option>
          <option value="Befriend senior citizens">Befriend senior citizens</option>
          <option value="Design/Maintain Webpage">Design/Maintain Webpage</option>
          <option value="Lead games/exercises">Lead games/exercises</option>
          <option value="Organise fund-raising activities">Organise fund raising activities</option>
          <option value="Organise publicity events">Organise publicity events</option>
          <option value="Organize social activities">Organize social activities</option>
          <option value="Prepare publicity materials">Prepare publicity materials</option>
          <option value="Prepare tea/snacks">Prepare tea/snacks</option>
          <option value="Written translation for brochures">Written translation for brochures</option>
        </select>
      </label>

      <label class="item item-icon-left item-input registration">
          <div class="iconcontainer">
            <i class="icon ion-briefcase dark "></i>
          </div>
        
        <input class="morequestions" placeholder="Occupation" type="text" ng-model="fields.occupation">
      </label>
        </div>

    <div style="text-align: center; ">
     <img src="img/steps002.png" class = "page-image"/>
    </div>
    
    <div class="row">
      <div class="col 50">
         <button ui-sref="registration" class="button button-light paddedbutton">Back</button>
      </div>
      <div class="col 50">
      <button class="button button-energized paddedbutton">Next</button>
      </div>
    </div>
        <!--skip-->

      <button class="button button-dark paddedbutton" ng-click="skip()" style="color: #000;"><h4 class="skip">Skip for now</h4></button>
    </form>

  </ion-content>
</ion-view>
