<div class="modal">

  <div class="bar bar-header listmodal">
    <a class="icon ion-close-round light" ng-click="hideModal()"></a>
    <h6 class="title listmodal">Orientation Session Notice</h1>
  </div>

  <ion-content style="background-color:#F1F3F5;" has-header="true">
  <center>
    <div class = "list orientation">
    Approved volunteers will have an orientation session with the Centre for Seniors (CFS). CFS will contact you shortly after registration
    </div></center>
    
    <div class = "list checkbox">
      I Agree
    </div>
      <label class="checkbox">
        <input class="checkbox" type="checkbox" ng-model="orientation.checkBox" required="required">
      </label>
    
    <button class="button button-block button-energized paddedbutton" ng-click="proceedRegistration()">Proceed</button>
  </ion-content>
</div>


