<div class="modal">

  <div class="bar bar-header listmodal">
    <a class="icon ion-close-round light" ng-click="hideModal()"></a>
    <h6 class="title listmodal">Orientation Session Notice</h1>
  </div>

  <ion-content style="background-color:#F1F3F5;" has-header="true">
  <center>
    <div class = "list card myactivitymain orientation">
    You will be required to attend a <b>one day</b> orientation session with Centre for Seniors (CFS) before your account can be approved. CFS will contact you shortly after registration.
    </div></center>

      <!--<label class="checkbox">
        <input class="checkbox" type="checkbox" ng-model="orientation.checkBox" required="required">
      </label>-->
      <div class ="orientation checkbox">
        <ion-checkbox class="checkbox" ng-model="orientation.checkBox" required="required"><h6 class="orientation">I Agree</h6></ion-checkbox>
      </div>
    <button class="button button-block button-energized paddedbutton" ng-click="proceedRegistration()">Proceed</button>
  </ion-content>
</div>


