 <link href="../css/main.css" rel="stylesheet">

<ion-view hide-nav-bar="true">
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="login">Back</button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <!-- Registration form-->
    <form ng-submit="register(fields)">

      <!--name & D.O.B-->
      <div class="row">
        <div class="col">
          <div class="transbox">
            <label class="item item-input">
            <i class="icon ion-person placeholder-icon light"></i>
            <input type="text" placeholder="Name" ng-model="fields.name" >
            </label>
          </div>
        </div>
        <div class="col">
          <div class="transbox">
            <label class="item item-input">
              <i class="icon ion-calendar placeholder-icon light"></i>
              <input type="date" colour:"#ffffff" placeholder="Date of Birth" ng-model="fields.dob">
            </label>
          </div>
        </div>
      </div>

      <!--email-->
      <div class="col2">
        <div class="transbox">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon light"></i>
            <input type="text" placeholder="Email" ng-model="fields.email" >
          </label>
        </div>
      </div>

      <!--password & confirm password-->
      <div class="row">
        <div class="col">
          <div class="transbox">
            <label class="item item-input" >
              <i class="icon ion-locked placeholder-icon light"></i>
                <input type="password" colour:"#ffffff" placeholder="Password" ng-model="fields.password">
            </label>
          </div>
        </div>
        <div class="col">
          <div class="transbox">
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon light"></i>
                <input type="password" colour:"#ffffff" placeholder="Confirm" ng-model="fields.confirmpassword">
            </label>
          </div>
        </div>
      </div>

      <!--contact number-->
      <div class="col2">
        <div class="transbox">
          <label class="item item-input">
            <i class="icon ion-iphone placeholder-icon light"></i>
            <input type="text" colour:"#ffffff" placeholder="Contact Number" ng-model="fields.contactnumber">
          </label>
        </div>
      </div>
      <br>

      <!--NRIC-->
      <div class="col2">
        <div class="transbox">
          <label class="item item-input">
            <i class="icon ion-iphone placeholder-icon light"></i>
            <input type="text" colour:"#ffffff" placeholder="NRIC" ng-model="fields.nric">
          </label>
        </div>
      </div>
      <br>

      <!--Gender-->
      <div class="col2">
        <div class="transbox">
          <label class="item item-input">
            <i class="icon ion-iphone placeholder-icon light"></i>
            <select ng-model="fields.gender">
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </label>
        </div>
      </div>
      <br>

      <!--front nric-->
      <div class="item range range-positive"/>
      &nbsp<label>IC Photo (Front)<br />
      <img data-ng-src="{{image_url_front}}" height="50" width="50" ><br>
      <button type="button" ng-click="launchPhotoLibraryFront()">Add</button>
    </label>
      </div>

      <!--back nric-->
      <div class="item range range-positive"/>
      &nbsp<label>IC Photo (Back)<br />
      <img data-ng-src="{{image_url_back}}" height="50" width="50" ><br>
      <button type="button" ng-click="launchPhotoLibraryBack()">Add</button>
    </label>
      </div>


    <button  class="button button-block button-calm">Sign Up!</button>
    </form>

    <!--cancel button-->
    <button ui-sref="login" class="button button-block button-light">Cancel</button>
  </ion-content>
</ion-view>
