<ion-view view-title="Registration">
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="login">Back</button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="register(fields)">
		<label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-person light"></i><font color=#ffffff> Name</span>
          <input type="text" style="color:#ffffff" placeholder="Name" ng-model="fields.name">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-email light"></i><font color=#ffffff> Email</font></span>
          <input type="text" style="color:#ffffff" placeholder="Email" ng-model="fields.email">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-locked light"></i><font color=#ffffff> Password</font></span>
          <input type="password" style="color:#ffffff" placeholder="Password" ng-model="fields.password">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-locked light"></i><font color=#ffffff> Confirm Password</span>
          <input type="password" style="color:#ffffff" placeholder="Password" ng-model="fields.confirmpassword">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-iphone light"></i><font color=#ffffff> Contact Number</span>
          <input type="text" style="color:#ffffff" placeholder="Contact Number" ng-model="fields.contactnumber">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-calendar light"></i><font color=#ffffff> Date of Birth</font></span><br>
          <input type="date" style="color:#ffffff" ng-model="fields.dob">
        </label>
		<br> <br>
      <input type="submit" value ="Sign Up!" id="button">
    </form>
  </ion-content>
</ion-view>
