<ion-view view-title="Retrieve Password">

  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-close-round button-clear button-light" ng-click="landingPage()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
<ion-content>

  <form ng-submit="resetPassword(fields)">

    <div class="list card activityconfirmation">
      <div class="item item-text-wrap activityconfirmation">
        <p class="myactivity">Please provide us with some details to retrieve your password</p>
      </div>
    </div>

    <div class="list list-inset login retrieve">
      <label class="item item-input login">
        <input type="text" autocapitalize="off" placeholder="Email address" ng-model="fields.email">
      </label>
      <label class="item item-input login">
        <input type="tel" placeholder="Phone" ng-model="fields.phone">
      </label>
    </div>

    <button class="button paddedbutton button-energized reset">Submit</button>
  </form>

</ion-content>


