<ion-modal-view style="top: 10% !important; right: 10% !important; bottom: 20% !important; left: 10% !important; overflow: visible !important; min-height: 240px !important; width: 80% !important;">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title" style="text-align: center">CareGuide Survey</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card myactivitymain" style="border:none; font-size:15px">Hello there! We are conducting a short survey to understand our volunteers’ preferences and further improve CareGuide.
      <br><br>
      Please fill up the following questions and thank you for your time! We hope you enjoy your exploration at CareGuide:)</div>
    <button class="button button-block button-dark survey" ng-click="surveyNext()">Proceed to Survey</button>
  </ion-content>
</ion-modal-view>
