<ion-view view-title="Join Us Today!">

  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-close-round button-clear button-light" ng-click="landingPage()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

<!--header-->
<ion-content padding="true">

<h4 class="verify"><b>A One-Time Password has been sent to your contact number: {{tempContactNumber}}</b></h4>

    <form ng-submit="verify(fields)">


      <div class="box">
        <label class="item item-input item-stacked-label">
          <span class="input-label verify">One Time Password</span>
          <input class="otp" type="password" placeholder="" style="color:#000;" ng-model="fields.otp">
        </label>
        <p style="text-align: center;">
          <a class="button button-dark otp" ng-click="resend()" style="color: #000;"><u>Resend One-Time Password
          </u></a>
        </p>
      </div>
      <div style="text-align: center; ">
        <img src="img/steps003.png" class = "page-image"/>
      </div>
      <div class="row">
        <!--<div class="col 50">
          <button ui-sref="moreQuestions" class="button button-block button-light verify">Back</button>
        </div>
        <div class="col 50">-->
         <button class="button button-energized paddedbutton">Sign Up!</button>
        <!--</div>-->
      </div>

    </form>
  </ion-content>
</ion-view>
