<!--<ion-view view-title={{transportActivityName}}>-->
<ion-view view-title="Confirmation of Activity Application">
  <!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
  </ion-nav-bar>

  <ion-content>
      <div class="list card myactivitymain">
      <div class="item item-icon-left item-text-wrap activitymain">
        <i class="icon myactivity"><img src="img/car.png" class="homeicon-image"></i>
        <div class="row">
          <div class="col routecol">
            <table>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{transportActivityName.split("-")[0]}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationFrom}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{transportActivityName.split("-")[1]}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationTo}}</p></td>
              </tr>
            </table>  
          </div>
        </div>
      </div>
      <div class="item item-icon-left activitymain">
        <i class="icon ion-android-calendar"></i>
        <p class="activity">Pick-Up Time</p> 
        <h5 class="myactivity">{{date + ", " + time}}</h5>
      </div>

      <div class="item item-icon-left activitymain">
        <i class="icon ion-clock"></i>
        <p class="activity">Expected Duration</p> 
        <h5 class="myactivity">{{expectedDuration}}</h5>
      </div>
    </div>
    <button class="button paddedbutton button-calm" ng-click="back()">Back to Home</button>
  </ion-content>
</ion-view>
