<ion-view view-title="Confirmation of Application">
  <!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-close-round button-clear button-light" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list card activityconfirmation">
      <div class="item item-icon-left item-text-wrap activityconfirmation">
      <i class="icon ion-checkmark-circled" style="font-size: 200%; color: green"></i>
      <p class="activityconfirmation">You have successfully applied for this activity. Please wait for the center to confirm your application. You can view your activity's status under the "My Activity" tab. </p>
    </div>
  </div>
      <div class="list card myactivitymain">
      <div class="item item-icon-left item-text-wrap activitymain">
        <i class="icon myactivity"><img src="img/car.png" class="homeicon-image"></i>
        <div class="row">
          <div class="col routecol">
            <table>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{locationFrom}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationFromAddress}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{locationTo}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationToAddress}}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="item item-icon-left activitymain">
        <i class="icon ion-android-calendar"></i>
        <p class="activity">Pick-Up Time</p>
        <h5 class="myactivity">{{ dateTime | date : "d MMM yyyy, h:mm a"}}</h5>
      </div>

      <div class="item item-icon-left activitymain">
        <i class="icon ion-clock"></i>
        <p class="activity">Expected Duration</p>
        <h5 class="myactivity">{{expectedDuration}}</h5>
      </div>
      <div class="item item-icon-left activitymain">
        <i class="icon ion-minus-circled"></i>
        <p class="activity">Approval Status</p>
        <h5 class="myactivity">Pending</h5>
      </div>
      <div class="item item-icon-left activitymain">
        <i class="icon ion-android-car"></i>
        <p class="activity">Transport Status</p>
        <h5 class="myactivity">Not Started Yet</h5>
      </div>
        <div class="item item-icon-left activitymain">
          <i class="icon ion-information-circled"></i>
          <p class="myactivity">Additional Information</p>
          <h5 class="myactivity">{{moreInformation}}</h5>
        </div>
      </div>
  </ion-content>
</ion-view>
