<ion-view view-title="Elderly Information">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-show=!loadingshow>
  <!--elderly information-->
    <div class="list card myactivitymain">
      <div class="item item-icon-left item-divider activitymain">
        <i class="icon elderly"><img src="img/car.png" class="homeicon-image"></i>
        <div class="row">
          <div class="col routecol">
            <table>
              <tr>
                <div class="col routecol"><h2 class="home">{{ transportActivityDate | date : "d MMM yyyy, h:mm a"}}</h2>
                </div>
              </tr>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{transportActivityName.split("-")[0]}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationFrom}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{transportActivityName.split("-")[1]}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationTo}}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h6 class="elderly">ELDERLY INFORMATION</h6>
      <div class="list card myactivitymain">
        <div class="item item-icon-left activitymain">
          <i class="icon ion-person"></i>
          <p class="activity">Name</p>
          <h5 class="myactivity">{{name}}</h5>
        </div>
        <div class="item item-icon-left activitymain">
          <i class="icon ion-transgender"></i>
          <p class="activity">Gender</p>
          <h5 class="myactivity">{{gender}}</h5>
        </div>
        <div class="item item-icon-left activitymain">
          <i class="icon ion-chatbubble-working"></i>
          <p class="activity">Languages Spoken</p>
          <h5 class="myactivity">{{languages}}</h5>
        </div>
        <div class="item item-icon-left activitymain">
          <i class="icon ion-medkit"></i>
          <p class="activity">Medical Information</p>
          <h5 class="myactivity">{{medical}}</h5>
        </div>
      </div>
        <h6 class="elderly">NEXT-OF-KIN INFORMATION</h6>
        <div class="list card myactivitymain">
          <div class="item item-icon-left activitymain">
            <i class="icon ion-person"></i>
            <p class="activity">Name</p>
            <h5 class="myactivity">{{kin}}</h5>
          </div>
          <div class="item item-icon-left activitymain">
            <p class="activity">Contact Number</p>
            <i class="icon ion-ios-telephone"></i>
            <h5 class="myactivity">{{contact}}</h5>
          </div>
          </div>
      </div>

      </div>

      <!--
      <div class="item item-text-wrap">
        Branch: {{branchName}}
      </div>-->

  </ion-content>
</ion-view>
