<ion-view>
  <!--body-->
  <div class="spinner" ng-show=loadingshow>
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <!--history to current tab
  Leejia & Clara:  Can change CSS to make this bar appear? Currently it is being overlap by the current tab bar.
  -->
  <ion-header-bar class="bar-subheader">
    <div class="button-bar">
      <button class="button button-selected">Current</button>
      <button class="button button-nonselected " ng-click="goHistory()">History</button>
    </div>
  </ion-header-bar>
  <!--history to current tab-->

  <ion-content has-header="true">

    <!--history to current tab
    Leejia & Clara: Need to remove this bar because auto refresher is pulling this bar down each time content is refreshing
    *remove this only after doing the top css to make header bar visible*
    -->
    <div class="button-bar">
      <button class="button button-selected">Current</button>
      <button class="button button-nonselected " ng-click="goHistory()">History</button>
    </div>
    <!--history to current tab-->

    <!--Pull to refresh-->
    <ion-refresher pulling-text="Pull to refresh" on-refresh="toLoad()"></ion-refresher>

<!--current activity listing-->
    <div class="list card">
      <ion-item class="item item-button-right item-stacked-label" ng-repeat="id in transportID track by $index" ng-click="proceed(transportID[$index], transportName[$index])">
        <div class="item item-avatar item-text-wrap">
          <img src="img/henderson.jpg">
          <h2>{{transportName[$index]}}</h2>
          <p>{{transportDateTimeStart[$index]}}</p>

          <div ng-if="transportStatus[$index] == 'In-Progress'">
            Approval Status: {{transportStatus[$index]}}
          </div>

          <div ng-if="transportStatus[$index] == 'Pending'">
            Approval Status: {{transportStatus[$index]}}
          </div>

          <div ng-if="transportStatus[$index] == 'Approved'">
            Approval Status: {{transportStatus[$index]}}
          </div>

          <div ng-if="transportStatus[$index] == 'Rejected'">
            Approval Status: {{transportStatus[$index]}}
          </div>

          <div ng-if="transportStatus[$index] == 'Withdrawn'">
            Approval Status: {{transportStatus[$index]}}
          </div>

          <br>

          <div ng-if="transportStatusToDisplay[$index] == 'Pick-Up' || transportStatusToDisplay[$index] == 'At Check-Up' || transportStatusToDisplay[$index] == 'Check-Up Completed' || transportStatusToDisplay[$index] == 'Completed'">
            <button class="button button-full button-balanced" ng-click="updateStatus(transportID[$index], transportStatusToDisplay[$index])"> Next Update: {{transportStatusToDisplay[$index]}}</button>
          </div>

          <div ng-if="transportStatusToDisplay[$index] == 'No status to update'">
            <button class="button button-full button-calm">No status to update</button>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
