<link href="css/myactivity.css" rel="stylesheet">
<ion-view view-title={{transportActivityName}}>
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

 <ion-content>
    <!--current activity listing-->
    <div class="list card">
      <div class="item item-divider">
        My Activity Details
      </div>
      <div class="item item-text-wrap">
        Date: {{date}}
      </div>
      <div class="item item-text-wrap">
        Time: {{time}}
      </div>
      <div class="item item-text-wrap">
        Expected Duration: {{expectedDuration}}
      </div>
      <div class="item item-text-wrap">
        Pick-up: {{locationFrom}}
      </div>
      <div class="item item-text-wrap">
        Drop-off: {{locationTo}}
      </div>
      <div class="item item-button-right">
        Status: {{transportStatus}}
        <button class="button button-energized" ng-disabled="updateStatus" ng-click="status(transportId, transportActivityName)">Update Status</button>
      </div>
      <div class="item item-text-wrap">
        Additional Information: {{moreInformation}}
      </div>
      <div class="item item-button-right">
        Elderly Information
        <button class="button button-energized" ng-disabled="eldery" ng-click="proceed(transportId, transportActivityName)">More</button>
      </div>
    </div>

    <!--withdraw-->
    <div class ="withdraw">
      <button class="button ion-close-round button-clear button-light" ng-disabled="withdrawShow" ng-click="withdraw()"> Withdraw from activity</button>
    </div>
  </ion-content>
</ion-view>
