<ion-view view-title="My Activity">

  <div class="spinner" ng-show=loadingshow>
    <ion-spinner icon="android"></ion-spinner>
  </div>

  <!--history to current tab
  Leejia & Clara:  Can change CSS to make this bar appear? Currently it is being overlap by the current tab bar.
  -->
  <ion-header-bar class="bar-subheader">
    <div class="button-bar">
      <button class="button button-nonselected myactivity" ng-click="goCurrent()">Current</button>
      <button class="button button-selected myactivity">History</button>
    </div>
  </ion-header-bar>
  <!--history to current tab-->

  <!--body-->
  <ion-content has-subheader="true">

    <!--Pull to refresh-->
    <ion-refresher pulling-text="Pull to refresh" on-refresh="toLoad()"></ion-refresher>

    <!--historical activity listing-->
    <div class="list card">
      <ion-item class="item item-button-right item-stacked-label" ng-repeat="id in transportID track by $index" ng-click="proceed(transportID[$index], transportName[$index])">
        <div class="item item-text-wrap">
          
          <h2>{{transportName[$index]}}</h2>
          <p>{{transportDateTimeStart[$index]}}</p>

          <div ng-if="transportStatus[$index] == 'Withdraw'">
              Approval Status: {{transportStatus[$index]}} <br>
              Transport Status: {{completedStatus[$index]}}
        </div>

        <div ng-if="transportStatus[$index] == 'Rejected'">
          Approval Status: {{transportStatus[$index]}} <br>
          Transport Status: {{completedStatus[$index]}}
        </div>

        <div ng-if="transportStatus[$index] == 'Approved'">
          Approval Status: {{transportStatus[$index]}} <br>
          Transport Status: {{completedStatus[$index]}}
        </div>

          <div ng-if="transportStatus[$index] == 'Pending'">
            Approval Status: {{transportStatus[$index]}} <br>
            Transport Status: {{completedStatus[$index]}}
          </div>
        </div>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
