<ion-view view-title="My Activity Details">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

 <ion-content ng-show=!loadingshow>
   <!--current activity listing-->
   <div class="list card myactivitymain">
      <div class="item item-icon-left item-text-wrap myactivitymain activitydetails">
        <i class="icon car"><img src="img/car.png" class="homeicon-image"></i>
        <div class="row">
          <div class="col routecol"><h2 class="home">{{ dateTime | date : "d MMM yyyy, h:mm a"}}</h2>
          </div>
        </div>
      </div>
      <div class="item item-icon-left item-text-wrap myactivitymain activitydetails2">
        <!--Google Map icon-->
        <i class="icon map" ng-click="openUrl(locationFromAddressLat, locationFromAddressLng, locationToAddressLat, locationToAddressLng)"><img src="img/googlemap_icon.png" class="homeicon-image"></i>
        <!--Activity details-->
        <div class="row">
          <div class="col routecol">
            <table>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{locationFrom}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationFromAddress}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{locationTo}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationToAddress}}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="text-align: center;">
      <div class="col col-50">
        <!--Expected Duration-->
        <div class="list card myactivitydetails">
          <i class="ion-clock" style="font-size: 300%"></i>
          <p class="myactivitydetails">Expected Duration</p>
          <h5 class="myactivity">{{expectedDuration}}</h5>
        </div>
      </div>
      <div class="col col-50">
        <!--Approval Status-->
        <div class="list card myactivitydetails">
        <i class="ion-checkmark-circled" style="font-size: 300%"></i>
        <p class="myactivitydetails">Approval Status</p>
        <h5 class="myactivity">{{approvalStatus}}</h5>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col col-50">
        <!--Transport Status-->
        <div class="list card myactivitydetails">
        <i class="ion-android-car" style="font-size: 300%"></i>
        <p class="myactivitydetails">Transport Status</p>
        <h5 class="myactivity">{{transportStatus}}</h5>
        </div>
      </div>
      <div class="col col-50">
        <!--Elderly Name-->
        <div class="list card myactivitydetails" style="height: 104px">
        <i class="ion-person" style="font-size: 300%"></i>
          <p class="myactivitydetails">Elderly Name</p>
        <p class="myactivity"></p>
          <h5 class="myactivity" ng-show="!eldery">{{elderlyName}}</h5>
          <h5 class="myactivity" ng-show="eldery">Not available</h5>
        </div>
      </div>
      </div>
   </div>

      <div class="row" ng-show="rejection != null">
        <div class="col">
          <!--Rejection Reason-->
          <div class="list card myactivitydetails">
            <div class="item item-icon-left">
              <i class="icon ion-android-cancel"></i>
              <p class="myactivity">Rejection Reason</p>
              <h5 class="myactivity">{{rejection}}</h5>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
