<ion-view view-title="My Activity Details">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="left">
      <button class="button ion-chevron-left button-clear button-light" ng-click="back()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

 <ion-content ng-show=!loadingshow>
   <!--current activity listing-->
   <div class="list card myactivitymain">
      <div class="item item-icon-left item-text-wrap myactivitymain">
        <i class="icon myactivitydetails"><img src="img/car.png" class="homeicon-image"></i>
        <div class="row">
          <div class="col routecol"><h2 class="home">{{ dateTime | date : "d MMM yyyy, h:mm a"}}</h2>
            <table>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{locationFrom}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationFromAddress}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{locationTo}}</b></p></td>
              </tr>
              <tr>
                <td></td>
                <td><p class="myactivity">{{locationToAddress}}</p></td>
              </tr>
              <tr>
                <td><p class="myactivity"></p></td>
                <td><p class="myactivity"><a href="#" ng-click="openUrl(locationFromAddressLat, locationFromAddressLng, locationToAddressLat, locationToAddressLng)"><p class="myactivity"><u>View directions in Google Maps</u></p></a></p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="text-align: center;">
      <div class="col col-50">
        <div class="list card myactivity">
          <i class="ion-clock" style="font-size: 300%"></i>
          <p class="myactivitydetails">Expected Duration</p>
          <h5 class="myactivity">{{expectedDuration}}</h5>
        </div>
      </div>
      <div class="col col-50">
        <div class="list card myactivity">
        <i class="ion-checkmark-circled" style="font-size: 300%"></i>
        <p class="myactivitydetails">Approval Status</p>
        <h5 class="myactivity">{{approvalStatus}}</h5>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col col-50">
        <div class="list card myactivity">
        <i class="ion-android-car" style="font-size: 300%"></i>
        <p class="myactivitydetails">Transport Status</p>
        <h5 class="myactivity">{{transportStatus}}</h5>
                <!--<button class="button button-energized status" ng-disabled="updateStatus" ng-click="goStatus(transportId, transportActivityName)">Update Status</button>-->
        </div>
      </div>
      <div class="col col-50">
        <div class="list card myactivity" style="height: 104px">
        <i class="ion-person" style="font-size: 300%"></i>
        <p class="myactivity"></p>
        <br>
        <button class="button button-energized button-small" ng-disabled="eldery" ng-click="proceed(transportId, transportActivityName)">View Elderly Information</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list card myactivity">
          <div class="item item-icon-left">
            <i class="icon ion-information-circled"></i>
            <p class="myactivity">Additional Information</p>
            <h5 class="myactivity">{{moreInformation}}</h5>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
