<ion-view view-title="Activity Listing">
<!--header bar-->
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-buttons side="right">
      <!--filter button-->
      <button class="button ion-funnel button-clear filtericon" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-show=!loadingshow>
<!--search bar-->
<div class="row">
  <div class="col col-90">
    <div class="list list-inset search">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
      </label>
    </div>
  </div>
  <div class="col col-10">
    <button class="button ion-funnel button-clear filtericon" ng-disabled="!(transportActivity.length != 0)" ng-click="openPopover($event)"></button>
  </div>
</div>
    <!--If there are currently no activities-->
    <div class="list card myactivitymain" ng-if="transportActivity.length == 0">
      <table>
        <tr>
            <div class="item item-text-wrap">
              <h2 class="home">Sorry, there are no activities at the moment. Please check back later.</h2>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!--Activity details if there are activities available-->
      <div class="list card myactivitymain" ng-if="transportActivity.length != 0" ng-repeat="activity in transportActivity | filter:searchText" ng-click="proceed(activity.id, activity.name)">
        <table>
          <tr>
            <td class="search">
            {{activity.no}}
          </td>
          <td>

          <div class="item item-text-wrap">

            <h2 class="home"> {{ activity.date}}, {{ activity.time}}</h2>
            <table>
              <tr>
                <td><p class="myactivity">From</p></td>
                <td><p class="myactivity"><b>{{activity.from}}</b></p></td>
              </tr>
              <tr>
                <td><p class="myactivity">To</p></td>
                <td><p class="myactivity"><b>{{activity.to}}</b></p></td>
              </tr>
              <tr ng-if="activity.elderly != ''">
                <td><p class="myactivity">Elderly</p></td>
                <td><p class="myactivity"><b>{{activity.elderly}}</b></p></td>
              </tr>
            </table>
          </div>
      </td>
    </tr>
  </table>
  </div>
  </ion-content>
</ion-view>
