/* CSS for Login and Registration page */

/* background image */
.scroll-content{

 background-image: url("../img/elderly.jpg");
 background-size: ;
 background-repeat: no-repeat;
 opacity: 0.9;
 overflow: false;
}

div.col2{

 margin-left: -3%;
 margin-right: -4%;
 margin-bottom: -5%;
}

div.row{
 margin:1%;
 width: 100%; padding: 0.1px;
}

div.col{
 margin:-5%;
 padding-top: 5%;
}

div.transbox {
 margin: 20px;
 background-color: transparent ;
 border: 2px solid white;
 opacity:0.6;
 filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox1 {
 margin: 5px;
 background-color: transparent ;
 border: 2px solid white;
 opacity:0.6;
 filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox input
{
 margin: 1%;
 color: #ffffff;
 width: 200px; border: 1px padding: 5px;
}

div.transbox1 input
{
 margin: 1%;
 color: #ffffff;
 width: 200px; border: 1px padding: 5px;
}

label.item
{
 background-color: transparent; 
}

/* pop-up */
.popup-container .popup {
    width: 75%;
}

.popup-title {
    font-size: 180%;
    color: #333333;
    font-weight: 300;
}

.popup-sub-title {
    margin: 5% 0 0 0;
    padding: 2%;
    font-size: 100%;
    color: #666666;
    font-family: 'helvetica';
    font-weight: 100;
}

/* icare icon */
.fullscreen-image {
    max-width: 50%;
    max-height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

