
.col.icon{
	margin-left: -10px;
}

.col.label{
	margin-top: 9px;
	margin-left: 50px;
	background-color: transparent;
}

.col.field{
	margin-left: -180px;
}

.item.update.item-icon-left{
	padding:5px;
}

input.readonly{
	padding: 10px;
	text-align: left;
	width: 100%;
	font-size: 17px;

}

input.edit{
	font-size: 17px;
	background-color: transparent;
}

input.edit.contact{
	margin-left: 77px;
	font-size: 17px;
	background-color: transparent;
}

input.edit.occupation{
	margin-left: 40px;
	font-size: 17px;
	background-color: transparent;
}

label.item.update{
	background-color: transparent;
}

.col.label.edit{
	margin-top: 13px;
}

.col.label.aop{
margin-top: 0px;
}



select.aop{
	margin-top: 10px;
	margin-left: -14px;
	width:300px;
	font-size: 17px;
	padding:5px;
}

.update.icon{
	margin-top: -23px;
	background-color: transparent;
}
