.scroll-content{
 background-image: url("../img/profile.jpg");
 background-size: 1000px 1000px;
 background-repeat: no-repeat;
 z-index: -1;
}

a.item{
	background-color:#fff;
}

div.list{
	opacity:0.7;
}
