
/******************Background*********************/
/*Background color for everything except main page*/
.pane {
    background-color: #F1F3F5;
    background-image: #F1F3F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*Background image/gradient color for main page*/
.scroll-content.main{
background: linear-gradient(#6991A4, #4E989A);
}

/****************Google Map**********************/
.angular-google-map-container {
  height: 360px;
}


/****************Ionic overwrites**********************/
/***BUTTONS***/
/*First default button - Pink*/
.button.button-calm {
  border-color: #E86472;
  background-color: #E86472;
  color: #FFFFFF;
}

.button.button-calm.active, .button.button-calm.activated {
  border-color: #E86472;
  background-color: #E86472;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); 
}

/*Second default button - Green*/
.button.button-energized {
  border-color: #A1B575;
  background-color: #A1B575;
  color: #FFFFFF;
}

.button.button-energized.active, .button.button-energized.activated {
      border-color: #A1B575;
      background-color: #A1B575;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

/* button-light hover*/
.button.button-light:hover {
      color: #444;
      opacity: 0.5;
      text-decoration: none; }

/*Transparent button */
.button.button-dark {
  border-color: transparent;
  background-color: transparent;
  color: #FFFFFF;
}

.button.button-dark.active, .button.button-dark.activated {
      border-color: transparent;
      background-color: transparent;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

.button.button-full {
  margin-top: 0;
}

.button-float{
  background-color: #29A29C !important;
  z-index: 12 !important;
  position: relative !important;
  display: inline-block;
  margin: 2px;
  margin-top: 10px;
  width: 70vw;
  min-height: 70vw;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.button-float:active{
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4) !important;
  background-color: #FF9800;
  opacity: 50% !important;
}

button.button-positive.apply{
  margin-left:35%;
  padding-left: 30px;
  padding-right: 30px;
}

button.home{
  width:50%;
  margin-left: 22%;
  margin-top: 10px;
  font-size: 20px;
}

.button.paddedbutton{
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  border-radius: 5px;
}

.button.button-stable{
  color: #29A29C;
  font-size: 18px;
  border: transparent;
  background-color: transparent;
  height: 30px;
}

.button.button-stable.registration{
  color: #29A29C;
  font-size: 18px;
  border: transparent;
  background-color: transparent;
  height: 30px;
  border-right: 1px solid #C4C8CB;
  ;
}
/***BAR***/
.bar.bar-positive {
  background: #29A29C;
  z-index: -1;
  border-bottom-width: 0;
}

.bar.bar-positive .title {
  color: #fff;
}

.bar-subheader.myactivity{
  top:92px;
  padding:0;

}

.has-subheader.myactivity{
  top: 136px;
}
/***IMAGES***/
.iconsize-image {
 max-width: 100%;
 max-height: 100%;
 bottom: 0;
 margin-left: 2%;
 right: 0;
 top: 0;
}

/***SPINNER***/
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top: 250px;
  height: 85px;
  text-align: center;
  z-index: 1;
}

/***FONTS***/
h1 {
  font-family: 'Century Gothic', CenturyGothic, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 40px;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 10px;
}

h4{
  color:#fff;
  margin:10px;
  font-size: 17px;
  text-align: center;
  margin-bottom: -10px;
}

a:link {
    text-decoration: none;
}

/*for all popups*/

.popup-container .popup{
  border-radius: 5px;
  width: 300px;
}
.popup-head{
  border-bottom: 1px solid #C4C8CB
}

.popup-buttons {
  padding: 0px;
  min-height: 45px;
}

h6.popups{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h6.popups.title.error{
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

h6.popups.title{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

h3.popups.home{
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
}


/***BOX SIZES***/
div.row{
 width: 100%;
 padding: 0.1px;
 margin-top: 8px;
}

.larger{
  font-size: 25px;
}

div.col{
 margin-top:-1%;
 padding-left: 0;
}

select.dropdown {
  background-color:#fff;
  border: none;
  color:#000000;
  width:100%;
  height: 30px;
}

.item.item-divider{
  padding-bottom: 15px;
}

.item-divider.header {
  min-height: 45px;
  background-color: #AEE1E0;
  font-size: 18px;
}

.item.item-input.item-stacked-label{
  margin-left: -10px;
  width:100%;
}

/***ICONS***/
i.icon.ion-calendar{
  padding:5px;
  padding-left:5px;
  font-size: 25px;
}

i.icon{
  padding:5px;
}

i.icon.ion-heart.larger{
  margin-right: 10px;
  margin-left: 15px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.item-checkbox{
  padding-top:6px;
  padding-bottom: 6px;
}
/*end of everything that we overwrite from ionic*/

/**********************LANDING PAGE**********************/
.mainimage{
  max-width: 60%;
  max-height: 60%;
  margin-top:5%;
}

/**********************LOGIN & REGISTRATION**********************/
.list-inset.login{
  opacity:0.9;
}

.item-input.login{
  font-style: bold;
}

.item-input.login1{
  background-color: #fff;
  color:#E6E6E6;
  border-style:solid;
  border-width: thin;
  border-right:none;
  border-left:none;
  border-bottom:none;
}

div.transbox1 {
 margin-right: 0;
 margin-bottom: 0px;
 background-color: #fff   ;
 border: none ;
 opacity:0.6;
 filter: alpha(opacity=60); /* For IE8 and earlier */
 width: 100%;
 float: left;
}

div.iconcontainer{
  margin-bottom: 0;
  width: 17%;
  float:left;
  background-color: #fff;
  opacity: 0.6;
  text-align: center;
  padding-top: 0% ;
  padding-left: 1% ;
  padding-bottom: 2% ;
}

div.iconcontainer.car{
  margin-bottom: 0;
  width: 17%;
  float:left;
  background-color: #fff;
  opacity: 0.6;
  text-align: center;
  padding-top: 0% ;
  padding-left: 1% ;
  padding-bottom: 2% ;
  margin-right: -10px;
}

div.transbox1 input{
 margin: 1%;
 color: #000;
 width: 200px;
 padding: 5px;
}

label.item
{
 background-color: transparent;
 border:none;
}

.fullscreen-image {
 max-width: 80%;
 max-height: 80%;
 bottom: 0;
 left: 0;
 right: 0;
 margin-top: 10%;
}

.page-image{
 max-width: 90%;
 max-height: 20%;
 bottom: 0;
 left: 0;
 right: 0;
 top: 0;
}

.dobBox{
  margin-bottom:7px;
  margin-top:3px;
  background-color: #fff;
  border: none;
  opacity:0.6;
  width:98.5%;
}

div.item{
  background-color: transparent ;
}

.list.list-inset.registration{
  margin-top: 7px;
  /*box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.26);*/
  margin-top: 40px;
}

label.item.item-input.registration{
  background-color: #fff;
  color:#E6E6E6;
  border-style:solid;
  border-width: thin;
  border-right:none;
  border-left:none;
  border-bottom:none;
}


span.input-label.dob{
  color:#B0B0B0;
  padding-left: 16px;
}

input.registration{
  margin-left: 10px;
}

h1.title.registration{
  font-weight: bold;
  background-color: #52989C;
  color:#fff;
  z-index: -1;
}

.bar.bar-header.registration{
  background-color: #52989C;
}

a.icon.ion-close-round.light{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

button.button.button-block.button-calm.registration{
  background-color: #E86472;
  border-color: #E86472;
  border-radius: 7px;
}

.loginShowPassword{
  margin-top: -25px;
}

.registrationShowPassword{
  margin-top: -25px;
  margin-bottom: -40px;
}

select.dropdown.register{
  color:#B0B0B0;
  padding-left: 12px;
}

.icon.ion-eye-disabled.login{
  color:#8D8D8D;
}

.icon.ion-eye.login{
  color:#8D8D8D;
}

p.dobinput{
  font-size: 14px;
  color: #aaa;
  margin-left: 8px;
}

/*end of login and registration page*/

/**********************MORE QUESTIONS**********************/
label.item.item-input.morequestions{
  background-color: #fff;
  color:#000;
  margin-left: 15px;
  width: 120%;
  height: 40px;
  border-color: transparent;
}

input.morequestions{
  margin-left: 10px;
}

label.ic.front{
  margin-left: 30px;
  color:#000;
}

label.ic.back{
  margin-left: 40px;
  color:#000;
}

div.morebox{
  background-color:transparent;
  width:80%;
  margin-left: -10px;
  margin-top: 2px;
}

div.morebox input{
  background-color: #fff;
  color:#000;
  opacity:0.8;
}

.button.button-block.button-light.morequestions{
  margin-top:-5px;
  margin-bottom: -10px;
  border-radius: 7px;
}

.button.button-block.button-calm.morequestions{
  margin-top:-5px;
  margin-bottom: -10px;
  border:transparent;
  background-color: #E86472;
  border-radius: 7px;
}

button.button.button-light.button-small.NRICbutton1{
  background-color: #fff;
  border-color: #A4A4A4;
  border-radius: 5px;
  font-size: 15px;
  width:70px;
  margin-left: -15px;
}

button.button.button-light.button-small.NRICbutton{
  background-color: #fff;
  border-color: #A4A4A4;
  border-radius: 5px;
  font-size: 15px;
  width:70px;
}

label.item.item-input.item-stacked-label.registration1{
  background-color: transparent;
  border:none;
  margin-top: 50px;
}

label.item.item-input.item-stacked-label.registration{
  background-color: transparent;
  border:none;
}

select.dropdown.morequestions{
  padding:10px;
  height:40px;
}

.item.range.range-positive.morequestions{
  border:none;
  padding-left: 0px;
}

.NRICbox{
  height:120px;
  width:140px;
  border-style: thin;
  border-color:#000;
  padding:0px;
  background-color: #164F86;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -20px;
}

.NRICbox1{
  height:120px;
  width:140px;
  border-style: thin;
  border-color:#000;
  padding:0px;
  background-color: #164F86;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -5px;
}

h3.morequestions{
  font-size: 15px;
  padding:5px;
  height:40px;
  font-weight: bold;
  color:#fff;
}

.icon.ion-camera.light.morequestions{
  font-size: 45px;
  padding-top: 0px;
  margin-top: -10px;
  margin-bottom: -5px;
}


/*end of more questions page*/

/**********************VERIFY**********************/
h4.verify{
  color:#000;
  margin:10px;
  font-size: 17px;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 50px;
}

h4.verify1{
  color:#000;
  margin:10px;
  font-size: 17px;
  text-align: center;
  margin-bottom: -10px;
}

input.otp{
  max-width:150%;
  margin: -5;
  opacity: 0.6;
  text-align: left;
  padding:0px;
}

div.box{
  background-color:transparent;
  margin:5%;
  margin-left: -2px;
  margin-right: -2px;
  width:102%;
}

div.box input{
  background-color: #fff;
  text-align: center;
  color:#000;
  opacity:0.6;
  padding:0px;
}

span.input-label.verify{
  margin-bottom: 5px;
  margin-left: 100px;
}

button.button.button-block.button-calm.verify{
  border:transparent;
  background-color: #E86472;
  border-radius: 7px;
}

button.button.button-block.button-light.verify{
  border-radius: 7px;
}

.button.button-block.button-transparent.verify{
  padding:0px;
  margin: 0px;
}
/*end of verify page*/

/*home page*/
.popover {
    height: auto;
    width: 50%;
    top: 0px;
}

.popover ion-content {
    position: relative;
}

.item.popout:active {
  background-color: #29A29C;
}

.homeicon-image{
  max-width: 30px;
  max-height: 25px;
}

h2.home{
  color: #164F86;
  font-size: 15px;
  font-weight: bold;
}

.item.item-divider.home{
  padding-bottom: 8px;
  border: transparent;
}

.item.item-text-wrap.home{
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: #ddd;
  
}

a.home{
  float:right;
  color: #A6AAA9;
}

div.row.routerow{
  margin-top: 0px
}

div.col.routecol{
  padding-top: 2px;
  padding-bottom: 2px;
}

p.homep{
  font-size: 14px;
}

.item.homemain{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.popup-vertical-buttons button
{
    min-width: 100%;
    margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
    display: block;
}
/*end of home page*/

/*activity page*/
.item.details{
  font-size: 17px;
}

.item.activity{
  padding-left: 10px;
  padding-right: 10px;
}


.list.card.activity{
  padding-top: 0;
  margin-top: 0;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0;
}

.item.activitymain{
  padding-top: 10px;
  padding-bottom: 10px;
}

p.activity{
  color: #53585F;
  font-size: 14px;
  margin-bottom: 0px;
  margin-right: 10px;
}


/*end of activity page*/

/*myactivity page*/
.item-button-right{
  padding-right: 0;
}
.button.button-selected{
  border-color: #65B0AD;
  background-color: #65B0AD;
  color:#fff;
  font-weight: bold;
}

.button.button-nonselected{
  border-color: #49817E;
  background-color: #49817E;
  color: #B5B5B5;
}

.item-divider {
  min-height: 40px;
  background-color: #AEE1E0;
}

div.col.myactivitynum{
  background-color: #F1F2F4;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  height: 50px;
  margin-top: 0px;
  font-size: 1.1em;
}

div.row.myactivity{
  margin-top: 0px;
  line-height: 50px;
}

.item.myactivity{
  height: 63px;
  padding-right: 0px;
  background-color: #fff;
}

.item.myactivity.active{
  background-color: #D9D9D9;
}

div.col.myactivity{
  margin-left: 12px;

}

p.myactivity{
  color: #53585F;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
  width:100%;
}

p.myactivitydetails{
  color: #53585F;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: -20px;
  width:130%;
}

h5.myactivity{
  font-size: 14px;
  color: #164F86;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.button.myactivity{
  height: 44px;
}

.myactivity-image{
  max-width: 30px;
  max-height: 25px;
}

.list.card.myactivity{
  margin-top: 0;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 0 0 0;
}

.list.card.myactivitymain{
  box-shadow: 0 0 0 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.item.myactivitymain{
  padding-right: 5px;
  padding-left: 48px;
}

.icon.myactivity{
  top: -31px;
}

.icon.myactivitydetails{
  top: -40px;
  margin-left: -6px;
}

.item.myactivitybutton{
  padding-top: 0;
  padding-bottom: 0;
  border-color: #fff;
}

.item.myactivityoverall{
  padding-bottom: 15px;
}

h3.myactivity{
  font-size: 16px;
  margin-top: 0px;
  font-style: bold;
  margin-bottom: -5px;
}

.list.myactivity{
  margin-top: 42px;
}

i.myactivity{
  margin-right: 25px;
  margin-left: 10px;
}
/*end of myactivity page*/

/*scan page*/

ion-item.item{
  padding-right:5px;
  padding-top: 0;
  padding-bottom: 0;
}

.item-divider.scan {
  min-height: 30px;
  background-color: #B3E4DF;
}

.transbox2{
  padding:5px;
}

button.button.button-transparent.scan{
  background-color: transparent;
  border:none;
}

button.button.button-transparent.scan:active{
  background-color: transparent;
  border:none;
}

.card.animated.shake.scan{
  box-shadow: 0 0px 0px rgba(0.4, 0.2, 0.1, 0.3);
  margin-bottom: 0px;
  margin-top: 10px;
}

.list.card.scan{
  box-shadow: 3 0px 0px rgba(0, 0, 0, 0.3);
}

h6.scan{
  margin-left: 11px;
  font-size: 13px;
  color:#666;
}

b.scan{
  font-size: 16px;
  color:#000;
}

.button.button-blue.scan{
  background-color: #164F86;
  color:#fff;
  max-width:5%;
  width:5%;
  max-height:100%;
  height:100%;
  margin-top: -8px;
  padding: 0px;
}

.button.button-blue{
  background-color: #164F86;
  color:#fff;
  max-width:100%;
  width:100%;
  margin-top: -10px;
  padding: 0px;
}

.card.scan.header{
  background-color: #fff;
  margin: 0px;
  margin-right: 5px;
  margin-left: 10px;
  padding-top: 0px;
  padding-right: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0, 0);
  height:90px;
  width:91%;
}

.card.scan.header2{
  background-color: #fff;
  margin: 0px;
  margin-right: 5px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0, 0);
  height:90px;
  width:95%;
}

.item.item-icon-left.scan{
  border:none;
}

.icon.ion-map{
  font-size: 30px;
  margin-top: -5px;
  margin-left: -5px;
}

.icon.ion-android-car{
  font-size: 33px;
  margin-top: -3px;
  margin-left: -5px;
}
/*.row.scan{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #fff;
  width:100%;
}*/

.icon.ion-chevron-right{
  padding:0px;
}

td.next{
  padding-right: -5px;
  padding-left: 
}

table.section1{
  background-color: #fff;
  width:94%;
  margin-top: -8px;
  margin-bottom: 15px;
}

/*end of scan page*/

/*list transport page*/
.bar-subheader.listtransport{
  background-color: transparent;
  border-color: transparent;
  background-image: none;
}

.list.card.listtransport{
  box-shadow: 0 0 0 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.item.listtransport{
  padding-top: 3px;
  padding-bottom: 3px;
}

/*end of list transport page*/
/*profile page*/

div.list.profile{
  opacity:0.7;
  margin: 11px;
}

.button.button-energized.me{
  border-color: #94A66D;
  background-color: #94A66D;
  color: #FFFFFF;
}

.button.button-block.button-calm.me{
  margin-left: 11px;
  width:94%;
}
/*end of profile page*/

/*manage account page*/

.col.icon{
  margin-left: -10px;
}

.col.label{
  margin-top: 9px;
  margin-left: 50px;
  background-color: transparent;
}

.col.field{
  margin-left: -180px;
}

.item.update.item-icon-left{
  padding:5px;
}

input.readonly.me{
  padding: 10px;
  margin-top:-1px;
  text-align: left;
  width: 100%;
  font-size: 17px;
  background-color: transparent;
  color:#8D8D8D;
}

b.account{
  margin-bottom:0px;
  margin-top: 0px;
  margin-left: -20px;
  margin-right: 5px;
  font-size: 17px;
  color:#8D8D8D;
  font-weight: normal;
}

b.account.aop{
  margin-bottom:0px;
  margin-top: 0px;
  margin-left: -16px;
  margin-right: 5px;
  font-size: 17px;
  color:#8D8D8D;
  font-weight: normal;
}

label.item.item-input.update{
  background-color: transparent;
  padding-right: 0px;
}

label.item.item-input.update input{
  padding-right:0px;
}

select.aop{
  margin-top: 10px;
  margin-left: -50px;
  width:318px;
  font-size: 17px;
  padding:5px;
  background-color: transparent;
  height: 40px;

}

h3.me{
  font-size: 16px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: -30px;
  color: #666;
}

.button.button-block.button-calm.update{
  width:95%;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: -10px;
}

input.edit{
  text-align: center;
  background-color: #E4E4E4;
  margin-left: 95px;
  font-size: 17px;
  width: 140px;
}

.list.list-inset.registration input{
  padding-right: 5px;
}

input.update.contact{
  text-align: center;
  padding-right: 1px;
  margin-left: 15px;
  font-size: 17px;
  background-color: #E4E4E4;
  width:140px;
}

input.update.occupation{
  text-align: center;
  padding-right: 1px;
  margin-left: 54px;
  font-size: 17px;
  background-color: #E4E4E4;
  width:140px;
}

b.update{
  margin-left: 10px;
  font-size: 15px;  
  color:#8D8D8D;
  font-weight: normal;
}

b.update.occupation{
  margin-left: 10px;
  font-size: 15px;  
  color:#8D8D8D;
  font-weight: normal;
}

.item.item-input.item-stacked-label.update{
  border-style:solid;
  border-width: thin;
  border-right:none;
  border-left:none;
  border-bottom:none;
  border-color: #E4E4E4;
  padding-right: 0px;
  width:110%;
  margin-bottom: 5px;
}

.item.item-input.item-stacked-label.update2{
  border-style:solid;
  border-width: thin;
  border-right:none;
  border-left:none;
  border-bottom:none;
  border-color: #E4E4E4;
  padding-right: 0px;
  width:110%;
}

.icon.ion-card.dark.update{
  margin-left:-5px;
  color:#8D8D8D;
}

.icon.ion-email.dark.update{
  margin-left:-5px;
  color:#8D8D8D;
}

.item.item-icon-left.update{
  padding:30px;
}

div.iconcontainer.update{
  width: 17%;
  float:left;
  background-color: transparent;
  opacity: 0.6;
  text-align: center;
}

.icon.ion-person.larger.update{
  margin-left:-5px;
  color:#8D8D8D;
}

.icon.ion-ios-telephone.larger.update{
  margin-left:-5px;
  color:#8D8D8D;
}

.icon.ion-briefcase.update{
  margin-left:-5px;
  color:#8D8D8D;
}

.icon.ion-heart.larger.update{
  margin-left:-15px;
  font-size: 30px;
  color:#8D8D8D;
}


/*end of manage account page*/

/*change password page*/

.list.updatePassword1{
  
  background-color: #fff;
}

.list.updatePassword2{
  background-color: #fff;
  margin-top: -5px;
}

.item.item-input.item-floating-label.updatePassword{
  border-color:#E6E6E6;
  border-style: solid;
  border-width: thin;
  border-top:transparent;
  border-right: transparent;
  border-left: transparent;
}

.item.item-input.updatePassword{
  border-color:#E6E6E6;
  border-style: solid;
  border-width: thin;
  border-top:transparent;
  border-right: transparent;
  border-left: transparent;
}

.maskPassword{
  margin-top: -13px;
  margin-bottom: 5px;
}
/*end of change password page*/

/*Search pages*/
td.search{
  background-color: #A6AAA9;
  width: 30px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}

.icon.search{
  left:3px;
}

select.search{
  width: 0;
  padding:0;
}
/*end of search pages*/

/*Filter pages*/
.list.card.filterheader{
  box-shadow: 0 0 0 0;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.item.filterheader{
  padding-top: 0;
}
.list.card.filtermain{
  box-shadow: 0 0 0 0;
  margin-bottom: 16px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*****Elderly information page*****/
.icon.elderly{
  margin-left: -5px;
}

h6.elderly{
  font-size: 17px;
  margin-left: 10px;
  color:#8B3737;
  font-weight: bold;
}

/*****End of Elderly information page*****/