/* tabs */
.tabs-striped .tabs {
  background-color: #666;
  background-image: none; 
  border-color: #666;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-bottom-color: #666;
  color: #fff;
  font-weight: bold;
}

.bar-header.bar-positive{
	z-index: 4;
}

.tab-title{
	font-style: bold;
}

.tab-item {
  color: white;
}